{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import '_macros.html' as macros %}

{% block page_content %}
<div class='page-header'>
	<h1>Hello,  {{current_user.name}}
		
	</h1>
	{% if not known %}
	<h2>Nice to meet you!</h2>
	{% else %}
	<h2>Good to have you back!</h2>
	{% endif %}
</div>
<div class='edit-form'>
	{% if current_user.can(Permission.WRITE_ARTICLES) %}
	{{ wtf.quick_form(form)}}
	{% endif %}
</div>
<div class='posts'>
<ul class='nav nav-tabs'>
	<li role='presentation' class='active'>
		<a href='{{url_for(".show_followed")}}' class='navbar-brand'>Followed Posts</a>
	</li>
	<li role='presentation' class='active'>
		<a href='{{url_for(".show_all")}}' class='navbar-brand'>All Posts</a>
	</li>
</ul>
	{% include '_posts.html' %}
</div>
{%if pagination %}
	<div class="posts-pagination">
		{{ macros.pagination_widget(pagination,'.index') }}
	</div>
{% endif %}
{#
<p>The local date and time is {{moment(current_time).format('LLL')}}</p>
<p> {{ moment(current_time).fromNow(refresh=True) }}</p>
<p>Your browser is {{user_agent}} </p>
#}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
